.searchBox {
    position: fixed;
    width: 100%;
    height: 110px;
    top: -110px;
    left: 0;
    background-color: #f4f4f7;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: all 0.3s linear;
}
.searchBox.show {
    top: 0;
}
.overlaySearch {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(132, 132, 132, 0.5);
    z-index: 2;
    cursor: pointer;
    animation: opa 0.3s linear;
}
.main {
    width: 95%;
    height: 56px;
}
.main form {
    width: 100%;
    height: 100%;
    display: flex;
}
.main form input {
    flex: 1;
    height: 100%;
    position: relative;
    outline: none;
    border: 1px solid #23272b;
    background-color: #f4f4f7;
    color: #333;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 7px 0 0 7px;
}
.main input::placeholder {
    transition: all 0.2s linear;
    padding-left: 0;
}
.main input:focus::placeholder {
    padding-left: 5px;
}
.main form button {
    width: 54px;
    height: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0 7px 7px 0;
    font-size: 18px;
    background-color: #23272b;
    color: #f4f4f7;
}
.close {
    width: 5%;
    height: 56px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close button {
    cursor: pointer;
    padding: 10px 12px;
    outline: none;
    background-color: #f4f4f7;
    color: #23272b;
    border: 0;
    border-radius: 5px;
    border: 1px solid #23272b;
    transition: all 0.3s ease-in;
}
.close button:hover {
    background-color: #23272b;
    color: #f4f4f7;
}
