.wrapper {
    background-color: #fff;
    width: 100%;
    max-width: 647px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 0 9px #ccc;
    border-radius: 5px;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.heading {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.heading h4 {
    font-size: 18px;
}
.formGroup {
    width: 100%;
    margin-top: 20px;
}
.formGroup.w45 {
    width: 45%;
}
.formGroup label {
    display: block;
    color: #b3b3b3;
}
.formGroup input,
.formGroup textarea {
    width: 100%;
    margin-top: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #495057;
}
.formGroup input:focus,
.formGroup textarea:focus {
    border-bottom: 1px solid #000;
}
.formGroup.invalid input,
.formGroup.invalid textarea {
    border-bottom: 1px solid red;
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
    font-size: 15px;
}
.formGroup input {
    height: 40px;
}
.formGroup textarea {
    min-height: 100px;
    max-width: 100%;
    min-width: 100%;
}
.formGroup.invalid .errorMessage {
    display: inline-block;
    font-size: 13px;
    color: red;
    margin-top: 10px;
}
.submit {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 480px) {
    .formGroup.w45 {
        width: 100%;
    }
}
