.wrapper {
    width: 100%;
    display: flex;
}
.wrapper + .wrapper {
    margin-top: 20px;
}
.img {
    width: 80px;
    height: 80px;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.content {
    flex: 1;
    position: relative;
    padding-left: 20px;
}
.name a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    line-height: 19px;
}
.name a:hover {
    color: #260759;
}
.price {
    margin-top: 5px;
    color: #fd475a;
    font-size: 14px;
    font-weight: 600;
}
@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 33.333%;
        margin-bottom: 20px;
    }
    .wrapper + .wrapper {
        margin-top: 0;
    }
    .content {
        padding-right: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .wrapper {
        width: 50%;
    }
}
@media only screen and (max-width: 480px) {
    .wrapper {
        width: 100%;
    }
    .content {
        padding-right: 0;
    }
}
