.wrapper {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 3px 5px 2px #ccc;
}
.wrapper.adminPage {
    background-color: transparent;
    box-shadow: none;
    color: #b4b7bd;
}
.wrapper > h3 {
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
}
.wrapper table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}
.wrapper table tr th,
.wrapper table tr td {
    font-size: 13px;
    padding: 7px;
}
.wrapper table,
.wrapper table th,
.wrapper table td {
    border: 1px solid #dedede;
}
.wrapper table tr th {
    background-color: #260759;
    color: #fff;
}
.wrapper.adminPage table tr th {
    background-color: transparent;
    color: #b4b7bd;
}
.wrapper table td img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    object-fit: contain;
}
.wrapper table tr.noBorder td {
    border: none;
}
.wrapper table tr td.center {
    text-align: center;
}
.wrapper table tr td.right {
    text-align: right;
}
.wrapper table tr td.totalPrice {
    color: #fd475a;
    font-weight: 600;
}
@media only screen and (max-width: 768px) {
    .wrapper .table {
        overflow: auto;
    }
    .wrapper table {
        min-width: 768px;
    }
}
