.back {
    margin-top: 48px;
}
.back a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 600;
}
.back a i {
    margin-right: 5px;
}
.back a:hover i {
    color: blueviolet;
}
.heading {
    margin-top: 20px;
    text-align: center;
}
.heading img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}
.heading strong {
    display: inline-block;
    margin-top: 10px;
}
.heading strong span {
    color: #f7941e;
}
