.wrapper {
    width: 100%;
    display: flex;
    border: 1px solid#ccc;
}
.wrapper + .wrapper {
    margin-top: 10px;
}
.avatar {
    width: 90px;
    padding: 10px;
    text-align: center;
}
.avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto;
    border: 1px solid#ccc;
}
.main {
    flex: 1;
    position: relative;
    padding: 10px;
}
.star {
    margin-top: 10px;
}
.star i {
    color: #ccc;
}
.star i + i {
    margin-left: 5px;
}
.star i.color {
    color: #fed330;
}
.time {
    margin-top: 10px;
}
.time i {
    color: #848484;
}
.content {
    margin-top: 10px;
}
.reply {
    margin-top: 10px;
    color: #848484;
}
.link {
    margin-top: 10px;
}
.link span {
    color: #2e64fe;
}
.link a {
    margin-left: 3px;
    text-decoration: none;
    color: #333;
}
.link a:hover {
    color: #2e64fe;
}
