.wrapper {
    width: 100%;
    margin-top: 20px;
    display: none;
}
.wrapper.active {
    display: block;
}
.wrapperListComment {
    width: 100%;
    margin-top: 20px;
}
.title {
    display: block;
    width: 100%;
    line-height: 21px;
}
.notLogged {
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #fe2e2e;
}
.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.textLoading {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 5px;
    left: 0;
}
