.wrapper {
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    padding: 0 20px;
}
.body {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 0;
}
.title {
    font-size: 17px;
    line-height: 22px;
}
.author {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.author .txt1 {
    display: flex;
    align-items: center;
}
.author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.userName {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
    color: #2eb85c;
}
.time {
    display: inline-block;
    font-size: 13px;
    color: #acacac;
    padding: 5px 0;
    margin-right: 10px;
}
.time i {
    margin-right: 5px;
}
.views {
    display: inline-block;
    font-size: 13px;
    color: #acacac;
    padding: 5px 0;
}
.views i {
    margin-right: 5px;
}
.summary {
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid#ccc;
    border-bottom: 1px solid#ccc;
    font-size: 14px;
    line-height: 22px;
}
.content {
    margin-top: 20px;
    line-height: 22px;
}
.content img {
    display: block;
    max-width: 100%;
    object-fit: contain;
    margin: 5px auto;
}
.content a {
    text-decoration: none;
    color: #0168fa;
}
.content blockquote {
    display: block;
    text-align: center;
    color: #707070;
    font-size: 13px;
}
.content ol,
.content ul {
    width: 100%;
}
.content ol li,
.content ul li {
    line-height: 22px;
    font-size: 14px;
    margin-left: 15px;
}
.content table {
    max-width: 100%;
    margin: 0 auto;
}
.content table,
.content table tr th,
.content table tr td {
    border: 1px solid#ccc;
    border-collapse: collapse;
}
.content table tr th,
.content table tr td {
    padding: 5px 7px;
}

@media only screen and (max-width: 440px) {
    .author {
        flex-direction: column;
        align-items: flex-start;
    }
    .author .txt2 {
        margin-top: 10px;
    }
}
