.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    background-color: #283046;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    transition: width 0.3s linear;
    z-index: 99;
}
.wrapper.collapse {
    width: 100px;
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        left: -260px;
        transition: left 0.3s linear;
    }
    .wrapper.showMobile {
        left: 0;
    }
}
