.wrapper {
    position: fixed;
    width: calc(100% - 260px);
    right: 0;
    top: 0;
    transition: width 0.3s linear;
    z-index: 90;
}
.wrapper.collapse {
    width: calc(100% - 100px);
}
.container {
    position: relative;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    padding: 18px 28px 0 28px;
    background-color: rgba(22, 29, 49, 0.8);
}
.header {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #283046;
    border-radius: 5px;
    padding: 0 20px;
    box-shadow: 0 5px 5px rgba(22, 29, 49, 1);
}
.left > ul,
.right > ul {
    height: 100%;
    display: flex;
    align-items: center;
}
.left > ul > li {
    list-style: none;
    padding-right: 20px;
}
.right > ul > li {
    list-style: none;
    padding-left: 20px;
}
.iconBarsMobile {
    display: none;
    color: #d0d2d6;
    font-size: 21px;
    cursor: pointer;
}
@media only screen and (max-width: 1024px) {
    .wrapper,
    .wrapper.collapse {
        width: 100%;
    }
    .iconBarsMobile {
        display: block;
    }
    .left > ul > li:not(.iconBarsMobile) {
        display: none;
    }
}
