.wrapper {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 3px 5px 2px #ccc;
}
.wrapper > h3 {
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
}
.wrapper table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}
.wrapper table tr th {
    background-color: #260759;
    color: #fff;
}
.wrapper table tr th,
.wrapper table tr td {
    font-size: 13px;
    padding: 7px;
    text-align: center;
    border: 1px solid#ccc;
}
@media only screen and (max-width: 768px) {
    .wrapper .table {
        overflow: auto;
    }
    .wrapper table {
        min-width: 768px;
    }
}
