.menu {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
.menu .navUser {
    display: none;
}
.menu > ul {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
}
.menu > ul > li {
    list-style: none;
    height: 100%;
}
.menu > ul > li.posRelative {
    position: relative;
}
.menu > ul > li:hover > a,
.menu > ul > li:hover > span {
    color: #7a7c7f;
}
.menu > ul > li > a,
.menu > ul > li > span {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 0 15px;
    height: 100%;
    line-height: 32px;
    position: relative;
    cursor: pointer;
}
.menu ul > li > a > i,
.menu ul > li > span > i {
    position: absolute;
    right: 0;
    top: 15%;
}
.menu ul > li > .dropdownMenu {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 22;
    display: none;
}
.menu ul > li:hover > .dropdownMenu {
    display: block;
}
@media only screen and (max-width: 768px) {
    .menu {
        position: fixed;
        width: 320px;
        max-width: 428px;
        height: 100vh;
        left: -428px;
        top: 0;
        background-color: #fff;
        z-index: 999;
        flex-direction: column;
        transition: left 0.3s linear;
    }
    .menu.active {
        left: 0;
    }
    .menu .navUser {
        width: 100%;
        display: block;
        background-color: #260759;
        display: flex;
        align-items: center;
        padding: 20px;
    }
    .menu .navUser .avatar {
        width: 65px;
        height: 65px;
        background-color: #ccc;
        border-radius: 50%;
        overflow: hidden;
    }
    .menu .navUser .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .menu .navUser ul {
        list-style: none;
        flex: 1;
        position: relative;
        margin-left: 10px;
    }
    .menu .navUser ul li {
        width: 100%;
        text-align: left;
    }
    .menu .navUser ul li a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #fff;
        line-height: 21px;
    }
    .menu .navUser ul li span {
        display: inline-block;
        width: 100%;
        color: #fff;
        line-height: 21px;
    }
    .menu > ul > li > .dropdownMenu {
        position: static;
        display: block;
    }
    .menu .navUser .closeMenuMobile {
        width: auto;
        height: 100%;
    }
    .menu .navUser .closeMenuMobile i {
        color: #fff;
        font-size: 21px;
        cursor: pointer;
    }
    /* ----- */
    .menu > ul {
        display: block;
        height: auto;
        flex: 1;
        position: relative;
        overflow: auto;
    }
    .menu > ul > li {
        width: 100%;
        height: auto;
    }
    .menu > ul > li > a,
    .menu > ul > li > span {
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: left;
        border-bottom: 1px solid #260759;
    }
    .menu ul > li > a > i,
    .menu ul > li > span > i {
        right: 10px;
        font-size: 21px;
    }
}
